In [1]:
import networkx as nx

In [2]:
G = nx.Graph()
G.add_edge(1, 2)
G.add_edge(1, 3)
nx.betweenness_centrality(G)

{1: 1.0, 2: 0.0, 3: 0.0}

In [1]:
file = '/Users/borysov/Downloads/emails.csv'

In [3]:
with open(file) as f:
    for cnt, line in enumerate(f):
        print("Line {}: {}".format(cnt, line))
        if cnt > 2: break

Line 0: "file","message"

Line 1: "allen-p/_sent_mail/1.","Message-ID: <18782981.1075855378110.JavaMail.evans@thyme>

Line 2: Date: Mon, 14 May 2001 16:39:00 -0700 (PDT)

Line 3: From: phillip.allen@enron.com

In [4]:
file = '/Users/borysov/Downloads/enron_email_20_percent.csv'

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv(file)

In [15]:
import json

In [19]:
s = df.iloc[9]['To']
print(s)
s = eval(s)
print(s)
s = set(s)
print(s)
s = repr(s)
print(s)
s = literal_eval(s)
#s = json.loads(s)
print(s)
print(', '.join(s))

frozenset({'marie.heard@enron.com', 'susan.bailey@enron.com'})
frozenset({'marie.heard@enron.com', 'susan.bailey@enron.com'})
{'marie.heard@enron.com', 'susan.bailey@enron.com'}
{'marie.heard@enron.com', 'susan.bailey@enron.com'}
{'marie.heard@enron.com', 'susan.bailey@enron.com'}
marie.heard@enron.com, susan.bailey@enron.com

In [8]:
from ast import literal_eval

In [42]:
file = '/Users/borysov/Downloads/enron_email_20_percent.csv'
df = pd.read_csv(file)
df = df[['To', 'From']]
df = df.dropna()
df.head(20)

,To,From
0,frozenset({'alicia.perkins@enron.com'}),frozenset({'susan.scott@enron.com'})
1,frozenset({'chris.germany@enron.com'}),frozenset({'scott.goodell@enron.com'})
2,frozenset({'vkaminski@aol.com'}),frozenset({'vince.kaminski@enron.com'})
3,frozenset({'patty.donahue@chase.com'}),frozenset({'benjamin.rogers@enron.com'})
4,frozenset({'joseph.alamo@enron.com'}),frozenset({'jeff.dasovich@enron.com'})

In [44]:
df['To'] = df['To'].apply(lambda x: ', '.join(eval(x)))
df['From'] = df['From'].apply(lambda x: ', '.join(eval(x)))
df.head(20)

,To,From
0,alicia.perkins@enron.com,susan.scott@enron.com
1,chris.germany@enron.com,scott.goodell@enron.com
2,vkaminski@aol.com,vince.kaminski@enron.com
3,patty.donahue@chase.com,benjamin.rogers@enron.com
4,joseph.alamo@enron.com,jeff.dasovich@enron.com
5,bonnie.white@enron.com,richard.sanders@enron.com
6,louis.soldano@enron.com,drew.fossum@enron.com
7,jeff.dasovich@enron.com,mary.lessor@enron.com
8,richard.shapiro@enron.com,sue.nord@enron.com
9,"marie.heard@enron.com, susan.bailey@enron.com",sara.shackleton@enron.com
10,ted.murphy@enron.com,sally.beck@enron.com
11,lorraine.lindberg@enron.com,drew.fossum@enron.com
12,kay.mann@enron.com,rep@haysmcconn.com
13,twanda.sweet@enron.com,richard.sanders@enron.com
14,jay.reitmeyer@enron.com,phillip.allen@enron.com
15,soblander@carrfut.com,soblander@carrfut.com
16,"scott.pack@enron.com, mark.friedman@enron.com,...",enronsportsbook@yahoo.com
17,"maria.pavlou@enron.com, susan.scott@enron.com",drew.fossum@enron.com
18,legal <.taylor@enron.com>,lhayman@skadden.com
19,"bill.cordes@enron.com, steven.harris@enron.com...",drew.fossum@enron.com

In [45]:
df.to_csv("enron_email_ToFrom_20_percent.csv", index=None)

In [26]:
eval(df.iloc[0]['To'])

frozenset({'alicia.perkins@enron.com'})

In [32]:
df.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99165 entries, 0 to 103479
Data columns (total 2 columns):
To      99165 non-null object
From    99165 non-null object
dtypes: object(2)
memory usage: 2.3+ MB

In [29]:
def parse(x):
    try:
        x = eval(x)
    except Exception:
        print(x)
        raise Exception("123")
    x = ', '.join(x)
    return x

In [30]:
df['To'].apply(parse)

nan

Exception: 123

In [22]:
df['To'] = df['To'].apply(lambda x: ', '.join(eval(x)))
df['From'] = df['From'].apply(lambda x: ', '.join(eval(x)))

TypeError: eval() arg 1 must be a string, bytes or code object

In [ ]:
df.head()